/* Global parameters. */
:root {
    --button_background: rgba(30,30,30,0);
    --map_background: rgba(30,30,30,0.45);
    --header_background: rgba(30,30,30,0.45);
    --grid_margin: 7px;
    --border_radius_c_c: 8px;
}

img {
    border-radius: 0px;
    border : none;
}

.gm-style-cc { display:none; }

.gm-control-active  {
    background: rgba(10,10,10,0.4)!important;
}
.gm-svpc {
    background: rgba(100,100,100,0.5)!important;
}

.gmnoprint div {
    background: rgba(10,10,10,0.3)!important; 
    color: rgba(200,160,0,1)!important; 
    font-size: 12px!important;
}

.widget-basegooglemaps-{{id}} .map_canvas{
    position: relative;
    display: block;
     width: 100%; 
    border-radius: var(--border_radius_c);
    top: 0px;
    background-color: var(--map_background);
 }

 .widget-basegooglemaps-{{id}} .frame {
     height: 100%;
 }
 
 .widget-basegooglemaps-{{id}} .image {
     position: relative;
     top: 15px;
     opacity: 0.7;
     pointer-events: none;
     height: 50px;
 }

 .widget-basegooglemaps-{{id}} .title {
     position: relative;
     width: 100%;
     top: 5px;
     color: rgba(200,200,200,0.7);
     pointer-events: none;
 }

[tick] {
     position: relative;
     text-align: right;
     color: rgba(0,0,0,0);
     right: 10px;
     bottom: 15px;
     font-size: 30px;
     pointer-events: none;
 }

[itm_frame] {
     position: relative;
     height: 98%;
     width: 115px;
     top: 3px;
     background: var(--button_background);
    /* margin-right: var(--grid_margin);*/
     border-radius: var(--border_radius_c);
     z-index: 100;
 }

 .divider {
    position: relative;
    width: 2px;
    height: 80%;
    top: 10%;
    background:  rgba(180, 180, 180,0.2);
 }
 .widget-basegooglemaps-{{id}} .info_frame {
    position: relative;
    height: 98%;
    width: 160px;
    top: 3px;
    background: var(--button_background);
    margin-right: var(--grid_margin);
    border-radius: var(--border_radius_c);
    color: rgba(200,200,200,0.7);
 }

 .widget-basegooglemaps-{{id}} .distance_title {
    position: relative;
    top: 5px; 
    color: rgba(200,200,200,0.7);
    font-weight: 400;
 }
 .widget-basegooglemaps-{{id}} .distance {
    position: absolute;
    color: rgba(200,200,200,0.7);
    font-size: 25px;
    width: 100%;
    top: 45%;
    bottom: 50%;
 }

 .widget-basegooglemaps-{{id}} .closest {
    position: absolute;
    color: rgba(200,200,200,0.7);
    font-size: 22px;
    width: 100%;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;
    display: table;
    top: 9px;
 }

 .widget-basegooglemaps-{{id}} .closest p {
    
    display: table-cell;
    vertical-align: middle; 
    text-align: center; 
 }
 .widget-basegooglemaps-{{id}} .top{
    position: relative;
    display: block;
    height: 100px;
    width: 100%; 
    border-radius: 6px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    background: var(--header_background);
    margin-bottom: var(--grid_margin);
    text-align: center;
 }
 
.widget-basegooglemaps-{{id}} .body {

    border: none;
	background:none transparent;
}