[docker_lcol] {
	color: rgb(167, 167, 167);
	text-align: left;
	width: 43%;
	display: inline-block;
	left: 0px;
	height: 30px;
}

[docker_lcol]:before {
	position: relative;
	content: "\220E";
	left: -5px;
	width: 10px;
	height: 10px;
	padding-right: 2px;
	font-size: 20px;
	color: rgb(121, 92, 13);
}

[docker_rcol] {
	color: rgb(167, 167, 167);
	width:43%;
	display: inline-block;
	right: 5px;
	text-align: right;
}

.widget-basedocker-{{id}} .title {
	position: absolute;
	top: 5px;
	width: 100%;
	font-size: 16px!important;
}

.widget-basedocker-{{id}} .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedocker-{{id}} .container {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	display: inline-block;
	background: rgba(100,100,100,0.1);
	padding-top: 7px;
	padding-bottom: 7px;

}

[docker_icon] {
	display: inline-block;
	font-size: 35px;
	margin-left: 15px;
	margin-right: 15px;
	color: gray;
}

