.widget-basegraph-{{id}} {
        position: absolute;
        top: 0px;
        left: 0px;

}

.widget-basegraph-{{id}} .canvasclass{
        --bgimg: "";

}

.widget-basegraph-{{id}} .canvasclass {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
}

.widget-basegraph-{{id}} .canvasclass:after {
        content: "";
        background: var(--bgimg);
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}



